body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background-color: #000 !important;
}

.navbar {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    font-family: 'Roboto', sans-serif; 
}

.navbar-header {
    margin: 25px!important;
    color: white;
}

.nav-pills {
    margin: 10px 20px;
    font-size: 1.5em;
}

.nav-pills a {
    color: white;
}

.nav-pills a:hover {
    background-color: rgba(0, 0, 0, 0.25) !important;
}

.highlight {
    color: #76FF03 !important;
}

.jumbotron {
    height: 550px;
    margin: 0;
    padding: 0;
    border-radius: 0 !important;
    background: url("https://dl.dropboxusercontent.com/u/63260308/Portfolio/Images/london_city.jpg") no-repeat center center;
    background-size: cover;
}

.jumbotron h1 {
    margin: 0;    
    padding-top: 100px;
    text-align: center;
    color: white;
    text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
    font-weight: 300;
}

.input-group {
    margin: 0 auto;
    width: 70%;
}

.form-control,
.btn.btn-default
{
    margin-top: 2em;
    font-size: 28px;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: 2px solid white;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
    font-weight: 300;
}

.form-control {
    padding: 26px;
}

.form-control:focus,
.btn.btn-default:focus {
    border-color: white;
    box-shadow: none;
    outline: none;
}

.btn.btn-default:active,
.btn.btn-default:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.25);
}

.main {
    padding-bottom: 35px;
    background: #120F19;
    border-top: 2px solid #7B7882;
    border-bottom: 2px solid #7B7882;
}

.main h2 {
    margin: 50px 150px;
    color: white;
    text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
    font-weight: 300;
}

.col-sm-10 {
    margin-top: 25px;
}

#image1 {
    background: url("https://dl.dropboxusercontent.com/u/63260308/Portfolio/Images/ny_city.jpg") no-repeat center center;
}

#image2 {
    background: url("https://dl.dropboxusercontent.com/u/63260308/Portfolio/Images/sf_city.jpg") no-repeat center center;
}

#image3 {
    background: url("https://dl.dropboxusercontent.com/u/63260308/Portfolio/Images/chicago_city.jpg") no-repeat center center;
}

#image1,
#image2,
#image3 {
    height: 200px;  
    border: 4px solid #7B7882;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

#image1:hover,
#image2:hover,
#image3:hover {
    opacity: 0.75;
    cursor: pointer;
}

.supporting {
    background: #3D3B43;
}

blockquote {
    margin: 20px 0;
    border: none;
    color: #A9A9A9;
}

.footer {
    bottom: 0;
    width: 100%;
    height: 175px;
    background-color: #161519;
    border-top: 2px solid #7B7882;
}

.footer p {
    color: white;
    padding-top: 25px;
}

.footer ul {
    list-style: none;
    color: #999;
    padding: 0;
}

