<div class="container">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a ui-sref="home.welcome"><i class="fa fa-moon-o fa-2x">&nbsp;<span class="highlight">Nightlife</span> App</i></a>
            </div>
                <ul class="nav nav-pills navbar-right">
                    <li><a href="#popular">Popular</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
        </nav>
    <div class="jumbotron">
        <h1>Search for events near you</h1>
        <form name="searchForm" ng-submit="newSearch(city, sort)" ui-sref="home.search" novalidate>
            <div class="input-group">
                <input type="text" class="form-control" ng-model="city" ng-minlength="3" ng-maxlength="50" required>
                <span class="input-group-btn">
                    <button class="btn btn-default highlight" type="submit" ng-disabled="searchForm.$invalid">Search</button>
                </span>
            </div>
            <div class="input-group">
                <label class="radio-inline"><input type="radio" name="option" ng-model="sort" value="0" required>Match</label>
                <label class="radio-inline"><input type="radio" name="option" ng-model="sort" value="1">Distance</label>
                <label class="radio-inline"><input type="radio" name="option" ng-model="sort" value="2">Rating</label>
            </div>            
        </form>
    </div>
</div>
    <ui-view></ui-view>

<div class="container">
    <div class="footer" id="contact">
        <div class="row">
            <div class="col-xs-3 col-xs-offset-1">
                <p>About</p>
                <ul>
                    <li>Our Company</li>
                    <li>Management Team</li>
                    <li>Job Opportunities</li>
                </ul>
            </div>
            <div class="col-xs-3 col-xs-offset-1">
                <p>Products</p>
                <ul>
                    <li>Overview</li>
                    <li>Pricing</li>
                    <li>Reviews</li>
                </ul>
                </div>
            <div class="col-xs-3 col-xs-offset-1">
                <p>Contact Us</p>
                <ul>
                    <li>email@email.com</li>
                    <li>123-456-7890</li>
                </ul>
            </div>
        </div>
    </div>
</div>