<div class="container-fluid">
    <div class="supporting" id="about">
        <div class="row">
            <div class="col-xs-11 col-xs-offset-1">
            <blockquote>
            <ul>
                <li>Enter a city and sort option to search</li>
                <li>Or search popular cities below</li>
                <li>Uses Yelp's API to gather local results</li>
                <li>Sign in with Google+</li>
                <li>Then click an event to join the group</li>
                <li>View the project on <a href="https://github.com/jmcilhargey/nightlife-app" target="_blank">Github</a></li>
            </ul>
            </blockquote>
            </div>
        </div>
    </div>
    <div class="main" id="popular">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1" id="image1" ng-click="newSearch('New York', 0)">
            <h2>New York</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1" id="image2" ng-click="newSearch('San Francisco', 1)">
            <h2>San Francisco</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1" id="image3" ng-click="newSearch('Chicago', 2)">
            <h2>Chicago</h2>
            </div>
        </div>
    </div>
</div>